.background{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(230, 217, 226);
    width: 100%;
    
}

.p{
    font-family: 'Times New Roman', Times, serif;
}
.welcome-container {
    height:30%;
    width:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url('https://image.hoopladigital.com/www/home/banner.jpg');
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
}

.welcome-heading, .welcome-des {
    flex: 1;
    margin: 10px;
    text-align: center;
    color: rgb(236, 230, 230);
}
.welcome-des {
    flex: 1;
    margin: 10px;
    text-align: center;
    color: rgb(247, 239, 239);
}


