/* #root {
  max-width: auto; 
  margin: 0 auto;
  padding: 1rem;
  text-align: center; 
  background-color: bisque;
  background-image: "https://a5.behance.net/85d99c86776c1c72d721d790d2742467325c5c7a/img/creator_pro/pro-profile-banner-background-2x.webp";
} */

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
 
}
